<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.ItemMapper">
	<insert parameterType="map" id="insertarItem" useGeneratedKeys="true" keyProperty="id">
  		insert into VI_ITEMS (id,nombre,descripcion,fechalanzamiento,tarifaxdia,formatorenta,genero,TIPOITEM_id) 
  		values (#{item.id},#{item.nombre},#{item.descripcion},#{item.fechaLanzamiento},#{item.tarifaxDia},#{item.formatoRenta},#{item.genero},#{item.tipo.id})
	</insert>
	<select parameterType="map" id="consultarItem" resultMap="ItemResult">
		select
			i.id as iid,
		    i.nombre as inom,
		    i.descripcion as ides,
		    i.fechalanzamiento as ifl,
		    i.tarifaxdia as itxd,
		    i.formatorenta as ifr,
		    i.genero as ig
	    from VI_ITEMS as i where i.id= #{idit};
	</select>
	
	<select parameterType="map" id="consultarItems" resultMap="ItemResult">
		select
			i.id as iid,
		    i.nombre as inom,
		    i.descripcion as ides,
		    i.fechaLanzamiento as ifl,
		    i.tarifaxDia as itxd,
		    i.formatoRenta as ifr,
		    i.genero as ig
	    from VI_ITEMS as i;
	</select>	
	
	<resultMap type='Item' id='ItemResult'>
		<id property='id' column='iid' />
		<result property='nombre' column='inom' />
		<result property='fechaLanzamiento' column='ifl' />
		<result property='tarifaxDia' column='itxd' />
		<result property='formatoRenta' column='ifr' />
		<result property='genero' column='ig' />
		<result property='descripcion' column='ides' />
		<association property="tipo" javaType="TipoItem" resultMap='edu.eci.pdsw.sampleprj.dao.mybatis.mappers.TipoItemMapper.TipoItemResult'></association>
	</resultMap>
</mapper>