<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.TipoItemMapper">
	<resultMap type='TipoItem' id='TipoItemResult'>
		<id property='id' column='TIPOITEM_id' />
		<result property='descripcion' column='TIPOITEM_descripcion' />
	</resultMap>
	
	<select id="consultarTipoItem" resultMap="TipoItem">
		SELECT
			ti.id,
			ti.descripcion
		FROM VI_TIPOITEM as ti
		WHERE #{id}=ti.id
	</select>
	
	<select id="" resultMap="TipoItem">
		SELECT
			ti.id,
			ti.descripcion
		FROM VI_TIPOITEM as ti
	</select>
</mapper>
